.row.head {
    padding: 10% 3% 3% 3%;
    background-color: rgba(251, 251, 134, 0.79);
}

.row.master {
    padding: 5% 3% 3% 3%;
    background-color: pink;
}

.navbar {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.navelement {
  display:block;
  border:thick ridge rgba(128, 128, 128, 0.35);
  border-radius: 0.5rem;
}

.tech-2 {
  display:none;
}

.tech:hover .tech-2{
  display:block;
  position: relative;
  left: 100px;
  background-color:white;
  border:thick ridge rgba(128, 128, 128, 0.35);

}
.culture-2 {
  display:none;
}

.culture:hover .culture-2{
  display:block;
  position: relative;
  left: 100px;
  background-color:white;
  border:thick ridge rgba(128, 128, 128, 0.35);
}
#foreword {
    padding-right: 3%;
}

.row.master.blog {
    background-color: #7bddfb;
}

#contact-bar {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
}

#contact-pic {
  width: 100%;
  padding: 5% 5% 5% 5%;
}

.wire {
  width: 100%;
}

.row.wireframes {
  padding-bottom: 5%;
}
