body {
    background: #cfebfd;
    font-family: Lucida Sans;
}

h1 {
    color: #43677d;
    text-align: center;
}

img {
    padding: 5px;
    width: 700px;
}

#panel {
    width: 25%;
    float: left;
}

#main {
    width: 75%;
    float: right;
    font-size: 150%;
}
